# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized

## Some of the popular languages that Data Scientists use are:
<ol>
<li>Python</li>
<li>R</li>
<li>SQL</li>
</ol>

# Some of the commonly used libraries used by Data Scientists include:
<ol>
<li>TensorFlow</li>
<li>NumPy</li>
<li>SciPy</li>
</ol>

# Data Science Tools

<table>
    <tr>
        <th>Open Source Tools for Data Science </th>
    </tr>
    <tr>
        <td>Apache Spark</td>
    </tr>
    <tr>
        <td>TensorFlow</td>
    </tr>
    <tr>
        <td> Apache Hadoop</td>
    </tr>
</table>

### Below are a few examples of evaluating arithmetic expressions in Python.
<br>
Operator	+	Sample Expression	+a
<br>

### This a simple arithmetic expression to mutiply then add integers

In [2]:
(3*4)+5

17

### This will convert 200 minutes to hours by diving by 60

In [5]:
hours = 200 // 60

In [7]:
hours

3

<b>Objectives:</b>
<ul>
<li>List popular languages for Data Science</li>
<li>Arithmetic Operator</li>
<li>Popular Language</li>
</ul>

## Author 
A KHAVIEYA